<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<div class="top_table container-fruid">
	<div class="row">
 		<div class="col-md-4 col-md-offset-1 col-xs-5 col-xs-offset-1">
			<%= image_tag 'phone_white.png' %>
		</div>
		<div class="top_table_right col-md-4 col-md-offset-1 col-xs-5 col-xs-offset-1">
			<p>Day14大課題</p>
			<p>nonstagram</p>
		</div>
	</div>
</div>
