<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

どうつくっていったものか

<div class="container-fruid">
	<div class="row">
 		<div class="col-md-6 col-sm-6">
			Coptgram
		</div>
		<div class="col-md-6 col-sm-6">
			<p>Day14大課題</p>
			<p>ログインは上部メニューから</p>
		</div>
	</div>
</div>
